/* Google fonts import */
.
@import <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap" rel="stylesheet">

/* wild card selector to override all default styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic Project Styles */
  color: #333553;
  font-family: "Roboto Slab", sans-serif;
}

header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
}
h1 {
  font-family: "Lato", sans-serif;
}

main {
  background-color: lightblue;
  /* Make main element take up any surplus space */
  flex: 1 0 auto;
}
footer {
  background-color: lightgreen;
}
