
/* wild card selector to override all default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generic Project Styles */
body {
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  /* Generic Project Styles */
  color: rgb(27, 23, 23);
  font-weight: 600;
  font-family: "Roboto Slab", sans-serif;
  background-color: rgb(207, 244, 251);
}


header {
  background-color: blanchedalmond;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: rgb(27, 23, 23);
  ;
}

h1 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(27, 23, 23);
  text-align: center;
  font-size: 30px;
  margin-top: 0%;
}

/* Nav Menu */
#menu {
  font-size: 110%;
  letter-spacing: 2px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 2em;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: blanchedalmond;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #177bc2;
  display: none;
  top: 100%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 1.6rem;
}

/* Main Content */

main {
  /* Make main element take up any surplus space */
  flex: 1 0 auto;
  margin-top: 80px;
  margin-bottom: 0;
}

/* Hero section */
#hero {
  background: url("../images/JHGY.gif") no-repeat center center/cover;
  height: 350px;
  width: 100%;
}

#container {
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  }

#sect01 {
  background-color: #9df8bd;
  height: 100%;
  width: 50%;
}
#side01 {
  background-color: #e6c4df;
  height: 100%;
  width: 50%;
 
}

.para {
  padding: 20px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  color: rgb(27, 23, 23);

  
}

/* Sign-in and Sign-up Page*/

.signin {
  padding: 0%;
}

#or {
    color: rgb(27, 23, 23);
    margin: 2px;
    padding: 0px;
    font-size: 20px;
    align-content: center;
    overflow: hidden;
    text-align: center;
  }

  #signupin {
    color: rgb(27, 23, 23);
    background-color: rgb(207, 244, 251);
    border: rgba(215, 206, 206, 0.355) solid;
    margin: 2px;
    padding-bottom: 0px;
    align-content: center;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
  }

  button#toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    /* Media query isn't shown here. */
    font-size: var(--mobile-font-size);
    font-weight: 300;
    padding: 0;
    /* Display at the top right of the container */
    position: absolute;
    }

    #password-reset {
      font-size:xx-small;
      color: rgb(27, 23, 23);
      background-color: rgb(207, 244, 251);
      border: rgba(215, 206, 206, 0.355) solid;
      margin: 2px;
      padding: 3px;
      align-content: center;
      overflow: hidden;
      text-align: center;
    }

  .submit {
    color: rgb(232, 231, 231);
    background-color: rgb(29, 4, 4);
    border: rgba(28, 37, 31, 0.355) solid;
    margin: 5px;
    width: 50px;
    padding: 5px;
    align-content: center;
    overflow: hidden;
    text-align: center;
  }


/* Registration Form */
.list {
  list-style-type: "§  " !important;
  font-size: 13px;
}

p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  #referrer, input, textarea {
    background-color: #d1d1d3;
    border: 1px solid #0a0a23;
    color: #0e0404;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }


/* T&C and Privacy Policy */

#termsandprivacy {
  padding: 40px;
  font-family: "Lato", sans-serif;
  color: rgb(27, 23, 23);
  align-content: left;
  overflow: hidden;
  text-align: left;
  list-style-type: none;
}

#termsandprivacy > h2 {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  color: rgb(27, 23, 23);
  font-weight: 600;
  align-content: left;
  overflow: hidden;
  text-align: left;
  list-style-type: none;
}

#termsandprivacy p {
  font-family: "Lato", sans-serif;
  color: rgb(27, 23, 23);
  lign-content: left;
  overflow: hidden;
  text-align: left;
}

  
/* footer */
footer {
  background-color: blanchedalmond;
  width: 100%;
  margin-top: auto;
}
#pfooter {
  font-size: 15px;
  text-align: center;
  background-color: blanchedalmond;
  padding: 15px;
}
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: blanchedalmond;
}
#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #242a28;
  background-color: blanchedalmond;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }
  /* Main content */
  main {
    /* Push main content down to accommodate larger header */
    margin-top: 94px;
  }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}
